* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* <!-- <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script> --> 
*/

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./background-pic.png);
}

.container {
  width: 360px;
  height: 400px;
  margin: 8% auto;
  background: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
h3 {
  text-align: center;
  margin-bottom: 40px;
  color: #1f1e1e;
}

.container form {
  width: 280px;
  position: absolute;
  top: 100px;
  left: 40px;
  transition: 0.5s;
}

form input {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  transition: 1.5s;
}

form input:focus {
  border-bottom: 1px solid #f30bcc;
}
::placeholder {
  color: #777;
}
.btn-box {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

form button {
  width: 110px;
  height: 35px;
  margin: 0 10px;
  border-radius: 5px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to right, #2e012a, #f30bcc);
}

#form2 {
  left: 450px;
}
#form3 {
  left: 450px;
}

.step-row {
  width: 360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
}

.step-col {
  width: 120px;
  text-align: center;
  color: #cfcccc;
  position: relative;
}

#progress {
  height: 100%;
  width: 120px;
  background: linear-gradient(to right, #2e012a, #f30bcc);
  position: absolute;
  transition: 1s;
}
/* #progress::after {
  content: "";
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  border-left: 20px solid #f30bcc;
} */
